body {
    background-color: hsl(30, 38%, 92%);
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
img,
picture,
video {
    max-width: 100%;
}


#product-card {
    background-color: white;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    width: 50vw;
    height: calc(50vw * 0.75);
}

#image-container{
    width: 50%;
}

#product-card-text {
    padding: 1rem 2rem 2rem 2rem;
    width: calc(50% - 4rem);
}


h2 {
    font-weight: 500;
    letter-spacing: .3rem;
    font-size: calc(.1rem + 1vw);
    color: hsl(228, 12%, 48%);
    margin-bottom: 0;
}

h1 {
    line-height: 1;
    margin-top: 1rem;
    margin-right: 0rem;
}

#price {
    color: hsl(158, 36%, 37%);
    margin: 0;
}

.important-text{
    font-family: Fraunces, serif;
    font-weight: 700;
    font-size: clamp(1.5rem, calc(1.5rem + 1vw), 4rem);
}

#price-section{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    flex-wrap: wrap;
    margin: 2rem 0;
}

#discarded-price {
    font-size: calc(.1rem + 1vw);
    color: hsl(228, 12%, 48%)
}

button {
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    padding: 1.5em;
    min-width: 100%;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color:  hsl(212, 21%, 14%);
    cursor: pointer;
}

#product-card-image {
    width: 100%;
    height: 100%;
}

#product-card-text-description{
    line-height: 1.5;
    font-size: calc(.05rem + 1vw);
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    margin-right: 2rem;
    margin-bottom: 0;
}

@media (min-width: 1920px) {
    #product-card-text-description {
        font-size: calc(.08rem + 1vw);
    }

    .important-text{
        font-size: calc(3rem + 1vw)
    }
}
@media (max-width: 1200px) {
    #product-card-text-description {
        font-size: calc(.05rem + 1vw);
    }

    .important-text{
        font-size: calc(.7rem + 1vw)
    }
}

@media (max-width: 991px) {
    #product-card {
        flex-direction: column;
        height: 90vh;
        width: 90vw;
    }
    #image-container{
        width: 100%;
        height: 39%;
    }
    #product-card-text {
        padding: 1rem 2rem 2rem 2rem;
        width: calc(100% - 4rem)
    }
    #product-card-text-description {
        font-size: calc(1rem + 1vw);
    }

    .important-text{
        font-size: calc(1.5rem + 1vw)
    }

    h2 {
        font-size: calc(.5rem + 1vw);
    }
    #discarded-price {
        font-size: calc(.5rem + 1vw);
        color: hsl(228, 12%, 48%)
    }
}

